  body{
    background-color: #E5E5E5;
    height: 95vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}

.secciones-encripta{
    display: flex;
    height: 90vh;

 /*   flex-direction: row;*/
    align-items: center;

}

header{
    padding: 10px;
    margin: 5px;
}
.logo-alura>img{
    width: 80px;
    height: auto;

}


input{
    position: relative;
    top: 0;
    left: 0;
}
.miTextarea{
    width: 400px;
    height: 400px;
    overflow-y: auto;
    background-color: transparent;
    border: unset;
    padding: 15px;
  /*  text-align: left; */


    font-size: 20px; /* Cambia el tamaño del texto */
    font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
    color: #0A3871; /* Cambia el color del texto */
}
.miTextarea::placeholder{
    color: #0A3871;
    font-size: 20px;
    vertical-align: text-top;
    padding: 5px 20px 0px 0px ;
    opacity: 0.6;

}

.miTextarea:focus{
    outline: none;
}


.result{
    font-size: 20px; /* Cambia el tamaño del texto */
    font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
    color: #0A3871; /* Cambia el color del texto */
    height: 500px;
    /*overflow-y: auto;*/

    width: 300px; /* Establece el ancho máximo del div */
    height: 480px; /* Establece la altura máxima del div */
    overflow-y: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
 /*   border: 1px solid #ccc;  Añade un borde para mejor visualización */
    padding: 10px; /* Añade relleno para mejorar el aspecto */
}

#result{
    white-space: pre-wrap;
}

/*texto minuscula y acentos*/
.informacion{
    font-size: 14px;
}

.cajas-escribir{
    width: 55%;
    background-color: transparent;
    margin-left: 130px;
}

.mensajes-a{
    display: none;
    
}


button {
    font-size: 12px; /* Texto mediano */
    padding: 20px 70px; /* Padding regular */
    cursor: pointer;
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 20px;
}

button#encripta, button#limpiar, button#copiar {
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */
}

button#desencripta {
    background-color: #D8DFE8; /* Color de fondo */
    color: #0A3871; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */
}

.cajas-mensaje{
    width: 300px;
    height: 80vh;
    background-color: #ffffff;
    padding: 20px 30px 30px 20px;
    margin: 0px 40px 10px 0px;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.caja-muestra-mensajes{
    text-align: center;
}

.busca{
    width: 70%;
    align-items: center;
    display: inline-block;
}
.text1{
    color: #343A40;
    font-weight: bold;
    font-size: 28px;
}

.text2{
    display: inline-block;
    text-align: center;
    color: #495057;
    font-size: 16px;

}

/*boton copiar */
.copiar{
 /*   display: flex;*/
    justify-content: center;
    align-items: center;
}




















/*DISEÑO RESPONSIVO */
/* Estilos para tabletas (400px a 750px) */
@media only screen and (min-width: 400px) and (max-width: 750px) {


    body{
        font-size: 14px;
       /* height: 25vh;*/
        font-family: 'Inter', sans-serif;
    }
    .secciones-encripta{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;   
    }

    .logo-alura > img {
        width: 70px;
        height: auto;
    }


 /*   .secciones-encripta{
        display:inline;
    }*/
    .busca{
        display: none;
    }
    .cajas-mensaje{
        width:90%;
        height: auto;
        background-color: #ffffff;
        padding: 20px;
        margin: 40px 20px 20px 20px;
        border-radius: 12px;
    }
    .caja-muestra-mensajes{
        text-align: center;
    }


    .botones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }
    button {
        flex: 1 0 45%; /* Establece el ancho de cada botón */
        margin: 5px;
        padding: 10px;
        text-align: center;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 15px;
    }
    .informacion{
        font-size: 12px;
        margin-bottom: 0;
    }

    .miTextarea{
        width: 100%;
        max-width: 680px;
        height: 200px;
        overflow-y: auto;
        background-color: transparent;
        border: unset;
        padding: 15px;

        font-size: 16px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
    }

    .miTextarea::placeholder {
        font-size: 16px;
        padding: 5px 20px 0px 0px;
    }

    .cajas-escribir{
        width: 90%;
        /*height: 50vh;*/
        background-color: transparent;
        margin: 10px;
    }

    .result{
        font-size: 16px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
/*        height: 100%;*/
    
        width: 90%; /* Establece el ancho máximo del div */
        height: auto;
        overflow-y: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        padding: 10px; /* Añade relleno para mejorar el aspecto */
    }

    .text1{
        margin: 10px;
        font-size: 20px;
    }
    
    .text2{
        margin: 10px;
        font-size: 14px; 
    }


}































  /* Estilos para CELULAR (menor a 400px) */
@media only screen and (max-width: 400px) {
    
    body{
        font-size: 12px;
       /* height: 25vh;*/
        font-family: 'Inter', sans-serif;
    }
    .secciones-encripta{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;   
    }

    .logo-alura > img {
        width: 70px;
        height: auto;
    }


 /*   .secciones-encripta{
        display:inline;
    }*/
    .busca{
        display: none;
    }
    .cajas-mensaje{
        width:90%;
        height: auto;
        background-color: #ffffff;
        padding: 20px;
        margin: 40px 20px 20px 20px;
        border-radius: 12px;
    }
    .caja-muestra-mensajes{
        text-align: center;
    }


    .botones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }
    button {
        flex: 1 0 45%; /* Establece el ancho de cada botón */
        margin: 5px;
        padding: 10px;
        text-align: center;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 15px;
    }
    .informacion{
        font-size: 12px;
        margin-bottom: 0;
    }

    .miTextarea{
        width: 100%;
        max-width: 680px;
        height: 200px;
        overflow-y: auto;
        background-color: transparent;
        border: unset;
        padding: 15px;

        font-size: 16px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
    }

    .miTextarea::placeholder {
        font-size: 16px;
        padding: 5px 20px 0px 0px;
    }

    .cajas-escribir{
        width: 90%;
        /*height: 50vh;*/
        background-color: transparent;
        margin: 10px;
    }

    .result{
        font-size: 16px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
/*        height: 100%;*/
    
        width: 90%; /* Establece el ancho máximo del div */
        height: auto;
        overflow-y: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        padding: 10px; /* Añade relleno para mejorar el aspecto */
    }

    .text1{
        margin: 10px;
        font-size: 20px;
    }
    
    .text2{
        margin: 10px;
        font-size: 14px; 
    }

}